body,
div, p, h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-LightItalic-webfont.eot');
  src: url('Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('Roboto-LightItalic-webfont.woff') format('woff'),
       url('Roboto-LightItalic-webfont.ttf') format('truetype'),
       url('Roboto-LightItalic-webfont.svg#RobotoThinItalic') format('svg'); 
  font-weight: 100;
  font-style: sans-serif;
}

body {
    font-family: 'Roboto';
    background: #f9f9f9;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}

.button-icon {
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
}