body,
div, p, h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-LightItalic-webfont.eot');
  src: url('Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('Roboto-LightItalic-webfont.woff') format('woff'),
       url('Roboto-LightItalic-webfont.ttf') format('truetype'),
       url('Roboto-LightItalic-webfont.svg#RobotoThinItalic') format('svg'); 
  font-weight: 100;
  font-style: sans-serif;
}

body {
    font-family: 'Roboto';
    background: #f9f9f9;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}

.button-icon {
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

.navigation {
    position: fixed;
    top: 42vh;
    display: none;
    flex-direction: column;
    padding: 20px;
    z-index: 2;
}

.navigation a {
    text-decoration: none;
    color: #1B43A9;
    cursor: pointer;
}

.navigation a img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}


@media (max-width: 990px) {
    .navigation {
        top: 91px;
        padding: 16px 8px;
    }
}


@media (max-width: 780px) {
    .container {
        width: 90%;
        min-width: 340px;
        margin: 32px auto;
    }

    .navigation {
        top: 91px;
        padding: 16px 8px;
    }
}